button{
	color:white;
	border:0;
	padding:10px 20px;
}

.left{
	float:left;
}

.right{
	float:right;
}

.red{
	background-color:#b00;
}
.red:hover{
	background-color:#f00;
}

.green{
	background-color:green;
}
.green:hover{
	background-color:#3a3;
}